*{
    color: #ddd;
    
}
footer {
    background-color: #000;
    color: #ddd;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 7px;

}
footer h6 {
    font-size: 20px;
    text-align: center;
    font-family: 'Inspiration', cursive;
    letter-spacing: 2px;
   
}

.copy {
    font-size: 16px;
    font-family: 'Alegreya Sans SC', sans-serif; 
    color: #fff;
    letter-spacing: 2px;
}
.footerlinks{
    text-decoration: none;
    color: #fff;
    

}
a:hover {
    background-color: darkred;
    padding-right: 2px;
    padding-left: 10px;
    text-shadow: 1px 1px #444;
}